html{
    font-size: 18px;

}
body{
    background-color: #333;
    color: whitesmoke;
    display: grid;
}

.about_upper{
    border-width: 2em;
    border-color: aliceblue;
    text-align: center;
}

section.about_lower{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* background-repeat: repeat; */
    text-align: center;
    grid-template-areas: 
                "Education Professional-life Personal-Project";

}
section.about_lower ul{
    text-align: left;
}

a {
    color: aliceblue;
}

a:visited{
    color: lightgray;
}

a:hover, a:active{
    color: #eee;
}

.vacation-places{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background-repeat: repeat; */
    text-align: center;
    grid-template-areas: 
                "cherrapunji Kaziranga Nameri";

}


table, tr, th, td,caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}

input{
    outline: none;
    border: none;
}
.multi-selector{
    width: max-content;
}
.multi-selector input{
    outline: none;
    border: none;
}

.select-field,.task,.list{
    width: 100%;
    padding: 0.3rem;
}

.places {
    display: block;
    padding-left: 0 ;
}

.list{
    box-shadow: 0 30px 60px rgba(206, 199, 199, 0.2);
    display: none;
}
.down-arrow{
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s linear;
}

.places:hover{
    background-color: rgb(81, 78, 78);
}

.show{
    display: block;
}

.rotate180{
    transform: rotate(-180deg);
}

.form, .pets{
    width: fit-content;
}

.otherCount {
    display: none;
}


.food, .message{
    width: fit-content;
}